*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.ant-menu-item-selected{
  background: transparent !important;

}
.ant-menu .ant-menu-item a::before {
  color: #fff;
}
.parent{
  display: flex;
  justify-content: center;
}
.spinner{
  width:1900px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parent{
  width:100vw;
  margin: 0 auto;
}
.parentHome{
  width: 100vw;
  margin: 0 auto;

}
.body{
  width: 1400px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.ant-layout {
  width: 1600px  !important;
  margin: 0 auto  !important;
 
}
.login-form{
  width: 500px;
  border-radius: 13px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formIten{
  width: 400px;
  margin: 0 auto;
  margin: 20px 0;
}
.google{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form-button{
  width: 400px;
}
.text{

  text-align: center;
}
.layot{
  width: 1400px;
display: flex;
}

.nav__btn:has(.active){
background: none;

}
.card{
  width: 200px;
  height: 300px;
}
.cardImg{
  width: 90%;
  min-height: 270px;

  object-fit: cover;
}
.singleImg{
  width: 600px;
  height: 00px;
  display: grid;
  grid-template-columns:  repeat(2,100px 1fr);
  border: 1px solid #000;
}