*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{
  display: flex;
  justify-content: center;
}
.spinner{
  width:1900px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent{
  width:100vw;
  margin: 0 auto;
}
.parentHome{
  width: 100vw;
  margin: 0 auto;

}
.login-form{
  width: 500px;
  border-radius: 13px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formIten{
  width: 400px;
  margin: 0 auto;
  margin: 20px 0;
}
.google{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.login-form-button{
  width: 400px;
}
.text{

  text-align: center;
}
.layot{
  width: 1400px;
display: flex;
}

.nav__btn:has(.active){
background: none;

}
